<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
      <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  </head>
  <body>
  <div class="container">
    <h1><%= title %></h1>
    <h2>City of Hampton Issues:</h2>
    <ul class="list-unstyled">
    <% if(list){
    	for(var i=0; i < list.length; i++) { %>
		<li>Lat: <%= list[i].lat %> Long:<%= list[i].lng %></li>
    <li>Address: <%= list[i].address %></li>
    <li>Status:<%= list[i].status %></li>
    <li>Summary: <%= list[i].summary %></li>
    <hr>
    	<% }
    } %></ul>
    <div id="map" style="height: 500px;">
        <script type='text/javascript'> 
  
    // create a map in the "map" div, set the view to a given place and zoom
    var map = L.map('map').setView([37.087, -76.42], 13);

// // add an OpenStreetMap tile layer
 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
     attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
 }).addTo(map);

// // add a marker in the given location, attach some popup content to it and open the popup
// L.marker([37.087,  -76.42]).addTo(map)
//     .bindPopup('A pretty CSS3 popup. <br> Easily customizable.')
//     .openPopup();
      </script>
    </div>
    </div>
  </body>
</html>
