<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
     <link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.css">
     <link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">
     <script src="/bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

  </head>
  <body>
  <div class="container">
    <h1><i class="fa fa-wrench"></i> <%= title %></h1>
    <h2>City of Hampton Issues:</h2>
    <ul class="list-unstyled">
    <% if(list){
    	for(var i=0; i < list.length; i++) { %>
		<li>Lat: <%= list[i].lat %> Long:<%= list[i].lng %></li>
    <li>Address: <%= list[i].address %></li>
    <li>Status:<b><%= list[i].status %></b></li>
    <li>Summary: <%= list[i].summary %></li>
    <hr>
    	<% }
    } %></ul>
    <div id="map" style="height: 500px;">
        <script>

        var RedIcon = L.Icon.Default.extend({
          options: {
                iconUrl: 'marker-icon-red.png'
          }
       });
       var redIcon = new RedIcon();

    var map = L.map('map').setView(["<%= list[0].lat %>", "<%= list[0].lng %>"], 11);

    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

function success(pos) {
var crd = pos.coords;

var me = L.marker([crd.latitude,crd.longitude],{ icon: redIcon })
        me.bindPopup('This is me')
        me.addTo(map);
};

function error(err) {
console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);
navigator.geolocation.watchPosition(success, error, options);

  // // add an OpenStreetMap tile layer
     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(map);

      var lngth = "<%= list.length %>";
      var arr = []
          art = []
          summ = []
          arr = "<%=lat.slice() %>";
          art = "<%=lng.slice() %>";
          summ = "<%= summary.slice() %>";

          var summary = summ.split(',');
          var array = arr.split(',');
          var array2 = art.split(',');

          var markers = new L.MarkerClusterGroup();

        for(var i= 0; i < lngth; i++) {
          var marker = L.marker(new L.LatLng(array[i], array2[i]), {
          });
          L.circle([array[i],array2[i]]).setRadius(1609.34).addTo(map); //radius around marker should be a mile.
          marker.bindPopup('Summary: '+summary[i]);
          markers.addLayer(marker);
        }

        map.addLayer(markers);
        //        for (var i = 0; i < lngth; i++) {
        //       marker = new L.marker([array[i],array2[i]])
        // .bindPopup('Summary: ' + summary[i] )
        // .addTo(map);
      </script>
    </div>
    </div>
  </body>
</html>
