<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
     <link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.css">
     <link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">
     <script src="/bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

  </head>
  <body>
  </style>
  <div class="container">
    <h1 class='text-capitalize'><i class="fa fa-wrench"></i> Fix it | <%= title %></h1>
    <!-- <select class="city" name="city">
      <option value='hampton-city'>Hampton</option>
      <option value='newport-news'>Newport News</option>
      <option value='norfolk'>Norfolk</option>
      <option value='chesapeake'>Chesapeake</option>
      <option value='virginia-beach'>Virginia Beach</option>
      <option value='suffolk'>Suffolk</option>
      <option value='portsmouth'>Portsmouth</option>
    </select> -->
    <a href="/newport-news" class="btn btn-info" role="button">Newport News</a>
  
    <h2 class='text-capitalize'>City of <%= title %> Issues: 1 - <%= list.length %></h2>
    <ul class="list-unstyled">
    <% if(list){
    	for(var i=0; i < list.length; i++) { %>
    <li><b>Issue:#<%=[i+1] %></b></li>
    <li>Address: <%= list[i].address %></li>
    <li>Status:<%= list[i].status %></li>
    <li>Summary: <%= list[i].summary %></li>
        <% if(list[i].description !="") { %>
          <li>Description: <%= list[i].description %></li>

    	<% } %>
      <hr>
    <% } }%></ul>
    <div id="map" style="height: 500px;">
        <script>

        var RedIcon = L.Icon.Default.extend({
          options: {
                iconUrl: 'marker-icon-red.png'
          }
       });
       var redIcon = new RedIcon();

    var map = L.map('map').setView(["<%= list[0].lat %>", "<%= list[0].lng %>"], 11);

    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

function success(pos) {
var crd = pos.coords;

var me = L.marker([crd.latitude,crd.longitude],{ icon: redIcon })
        me.bindPopup('This is me')
        me.addTo(map);
};

function error(err) {
console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);
navigator.geolocation.watchPosition(success, error, options);

  // // add an OpenStreetMap tile layer
     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(map);

      var lngth = "<%= list.length %>";
      var arr = []
          art = []
          summ = []
          arr = "<%=lat.slice() %>";
          art = "<%=lng.slice() %>";
          summ = "<%= summary.slice() %>";

          var summary = summ.split(',');
          var array = arr.split(',');
          var array2 = art.split(',');

          var markers = new L.MarkerClusterGroup();

        for(var i= 0; i < lngth; i++) {
             var marker = L.marker(new L.LatLng(array[i], array2[i]), {
          });
            L.circle([array[i],array2[i]]).setRadius(1609.34).addTo(map); //radius around marker should be a mile. Can change if need be.
            marker.bindPopup('Summary: '+summary[i] + '<br/> Issue# ' +[i+1]);
            markers.addLayer(marker);
          }

        map.addLayer(markers);
        /*        for (var i = 0; i < lngth; i++) {
               marker = new L.marker([array[i],array2[i]])
         .bindPopup('Summary: ' + summary[i] )
         .addTo(map); */
      </script>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/jquery/dist/jquery.min.map"></script>
      <script type="text/javascript">
      // $(document).ready(function(){
      //   $('.city').change(function() {
      //     map.remove();
      //     var data = $('.city').val();

      //     $.ajax({
      //       url:'/:id',
      //       method:'GET',
      //       cache: false,
      //       data: { city: data }
      //     })
      //     .done(function(data){
      //       $('.container').html(data);
      //     })
      //   })

      // })
      </script>
    </div>
    </div>
  </body>
</html>
